extends ../layout
block content
  .row.justify-content-center
    form.col-md-5(action="/admin/login", method="post")
      .form-group
        label نام کاربری:
        input.form-control(type="text", name="username")
      .form-group
        label پسورد:
        input.form-control(type="password", name="password")
      .form-group
        input.form-control(type="submit" value="ورود")
