ul.nav.mb-2.bg-muted.p-3
  li.nav-item
    a.nav-link.active(href="/") صفحه اصلی سایت
  li.nav-item
    a.nav-link.active(href="/admin") ادمین
  li.nav-item
    a.nav-link(href="/admin/items") محصولات
  li.nav-item
    a.nav-link(href="/admin/items/new") محصول جدید
  li.nav-item
    a.nav-link(href="/admin/purchases") سفارشات
