body {
  direction: rtl;
  font-family: 'BYekan';
  background: '#f7f8fa';
}

button {
  font-family: 'BYekan';
}
a:hover{
  text-decoration: none;
}

@font-face {
  font-family: 'BYekan';
  src: url('./static/fonts/BYekan.woff') format('woff');
}

.table th{
  text-align: right;
}
